@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../components/header/header.css");
@import url("../components/main/main.css");
@import url("../components/footer/footer.css");
@import url("../components/main/calculator/calculator.css");
@import url("../components/main/task-nest/task-nest.css");
@import url("../components/main/weather/weather.css");

/*--------------------------- Global ------------------------*/

:root {
  --white: #fff;
}

body {
  padding: 10px 0;
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--white);

  background-color: #1e252b;
}

a {
  color: var(--white);
}

.container {
  max-width: 1255px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Input */

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Logo and text */

.logo-block {
}

.logo-block__link {
  display: flex;
  align-items: center;
}

.logo-block__img {
  max-height: 38px;
  max-width: 38px;
}

.logo-block__text {
  padding-left: 12px;

  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

/* Button */

.btn {
  height: 48px;

  border-radius: 8px;
  background-color: #ff6e30;

  font-weight: 600;
  line-height: 24px;

  transition: opacity 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}
