/* Header-weather ------------------------ */

.header-weather .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */

.weather-logo-block {
  display: flex;
  flex-direction: column;
}

.weather-logo-block__img {
  width: 67px;
  height: 48px;
}

.weather-logo-block__title {
  margin-left: 67px;
  margin-top: -25px;

  font-size: 48px;
  font-weight: 400;
  line-height: 104px;
}

.weather-logo-block__time {
  margin-left: auto;
  margin-top: -25px;
}

/* Nav-list */

.weather-nav__list {
  display: flex;
}

.weather-nav__item button {
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;

  transition: all 0.2s ease-in-out;
}

.weather-nav__item button:hover {
  color: #ff6e30;
  opacity: 0.8;
}

.weather-nav__list li:not(:first-child) {
  margin-left: 20px;
}

.weather-nav__item_active button {
  font-weight: 600;
  border-bottom: 3px solid #695d5d;
}

/* input block */
.form-search-weather {
  display: flex;
  align-items: flex-end;
}

.input-block {
  display: flex;
  justify-content: center;

  margin-top: 91px;
}

.input-search {
  background-color: #d9d9d9;
  width: 711px;
  /* height: 50px; */
  border-radius: 15px;
  padding: 12px 40px;
  color: #000;

  font-size: 20px;
  font-weight: 300;
}

.btn-search-weather {
  margin-left: 5px;
  
  min-height: 53px;
  padding: 0px 12px;
  border-radius: 15px;

  background-color: #ff6e30;
  
  font-weight: 600;

  transition: all 0.15s ease-in-out;
}

.btn-search-weather:hover {
  opacity: 0.8;
}

/* Main - Weather slider ----  */

.weather-main .container {
  margin-top: 53px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.left-arrow {
  margin-right: 30px;
}

.right-arrow {
  margin-left: 30px;
}

.left-arrow #left-arrow,
.right-arrow #right-arrow {
  transition: all 0.2s ease;
}

.left-arrow:hover #left-arrow,
.right-arrow:hover #right-arrow {
  stroke: #ff6e30;
  opacity: 0.9;
}

.slider-card {
  display: flex;
  flex-direction: column;
  width: 817px;
  height: 425px;
  padding: 15px;

  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(255, 250, 250, 0.25),
    0px 4px 4px 0px rgba(253, 245, 245, 0.25);
  background: linear-gradient(
    147.03deg,
    rgb(173, 54, 203) 32.23%,
    rgb(51, 51, 51) 67.368%
  );
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
/* 
.slider-card:hover {
  opacity: 0.8;
} */

.slider-card__location-block {
  display: flex;
}

.slider-card__location-text {
  font-size: 30px;
  font-weight: 300;
}

.slider-card__delete-btn {
  opacity: 0;

  margin-left: auto;

  background-image: url(../../../../public/svg/tasknest/wastebasket.svg);
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.2s ease-in-out;
}

.slider-card:hover .slider-card__delete-btn{
  opacity: 1;
}

.slider-card__delete-btn:hover {
  width: 30px;
  height: 30px;
}

.slider-card__temp-block {
  display: flex;
  justify-content: center;

  margin-top: 90px;
}

.slider-card__temp-meaning {
  margin-left: 25px;

  font-size: 70px;
  font-weight: 300;
  line-height: 105px;
}

.slider-card__data-block {
  margin-top: auto;
}

.slider-card__data-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: underline;
}

.slider-card__additional__list {
  display: flex;
  justify-content: space-around;
}

.slider-card__additional__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.slider-card__additional__item span {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
}

.none {
  display: none;
}

/* Анимация */

.slide-out {
  transform: translateX(-200%);
}

.slide-in {
  transform: translateX(200%);
}

.slide-back {
  transform: translateX(0);
}

.hidden {
  opacity: 0;
}

/* Footer ------------- */

